/* Imports
***************/
@import url(../font-awesome/css/fontawesome.css);
@import url(../font-awesome/css/solid.css);
/* line 5, ../../../../../../../../../../../usr/local/var/rbenv/versions/2.7.0/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../usr/local/var/rbenv/versions/2.7.0/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../usr/local/var/rbenv/versions/2.7.0/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../usr/local/var/rbenv/versions/2.7.0/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../usr/local/var/rbenv/versions/2.7.0/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../usr/local/var/rbenv/versions/2.7.0/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../usr/local/var/rbenv/versions/2.7.0/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../usr/local/var/rbenv/versions/2.7.0/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../usr/local/var/rbenv/versions/2.7.0/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Colours
***************/
/* Fonts
***************/
/* line 26, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

/* line 29, ../sass/screen.scss */
h1, h2, h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

/* line 33, ../sass/screen.scss */
h1 {
  font-size: 4.2rem;
  margin: 4.2rem 0 2.1rem 0;
}

/* line 37, ../sass/screen.scss */
h2 {
  font-size: 3.6rem;
  margin: 3.6rem 0 1.8rem 0;
}

/* line 41, ../sass/screen.scss */
h3 {
  font-size: 2.4rem;
  margin: 2.4rem 0 1.2rem 0;
}

/* line 45, ../sass/screen.scss */
h4 {
  font-size: 1.6rem;
  margin: 1.6rem 0 1rem 0;
}

/* line 49, ../sass/screen.scss */
h5 {
  font-size: 1.2rem;
  margin: 1.2rem 0 1rem 0;
}

/* line 53, ../sass/screen.scss */
p {
  line-height: 1.6;
  color: #3D3D3D;
  margin: 0 0 2.4rem;
}

/* line 59, ../sass/screen.scss */
.align-center {
  text-align: center;
}

/* line 62, ../sass/screen.scss */
.padding-top {
  padding-top: 40px;
}

/* line 65, ../sass/screen.scss */
.padding-bottom {
  padding-bottom: 40px;
}

/* Body
***************/
/* line 77, ../sass/screen.scss */
html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
}

/* line 81, ../sass/screen.scss */
body {
  font-size: 1.8rem;
  color: #3D3D3D;
}

/* line 85, ../sass/screen.scss */
.site--wrapper {
  position: relative;
  z-index: 1;
}

/* line 89, ../sass/screen.scss */
.container {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 1280px;
  position: relative;
  z-index: 1;
}

/* line 97, ../sass/screen.scss */
.flex-container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
/* line 120, ../sass/screen.scss */
.flex-container .block {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  margin: 0 0 20px 0;
  transition: width .2s ease-in-out;
}
/* line 133, ../sass/screen.scss */
.flex-container .full {
  width: 100%;
}
/* line 136, ../sass/screen.scss */
.flex-container .half {
  width: 48%;
}
/* line 139, ../sass/screen.scss */
.flex-container .third {
  width: 31.333%;
}
/* line 142, ../sass/screen.scss */
.flex-container .fourth {
  width: 23%;
}

@media screen and (max-width: 768px) {
  /* line 148, ../sass/screen.scss */
  .flex-container .third {
    width: 48%;
  }
  /* line 151, ../sass/screen.scss */
  .flex-container .fourth {
    width: 48%;
  }
}
@media screen and (max-width: 480px) {
  /* line 157, ../sass/screen.scss */
  .flex-container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  /* line 162, ../sass/screen.scss */
  .flex-container .half,
  .flex-container .third,
  .flex-container .fourth {
    width: 100%;
  }
}
/* Button Styles
***************/
/* line 172, ../sass/screen.scss */
.btn {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  -moz-transition-property: background-color, color, border, outline, -moz-transform, box-shadow, opacity;
  -o-transition-property: background-color, color, border, outline, -o-transform, box-shadow, opacity;
  -webkit-transition-property: background-color, color, border, outline, -webkit-transform, box-shadow, opacity;
  transition-property: background-color, color, border, outline, transform, box-shadow, opacity;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  width: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 185, ../sass/screen.scss */
.btn:hover {
  transform: scale(1.1);
}

/* line 188, ../sass/screen.scss */
.btn--lg {
  font-size: 2rem;
}

/* line 191, ../sass/screen.scss */
.btn--med {
  font-size: 1.8rem;
}

/* line 194, ../sass/screen.scss */
.btn--sm {
  font-size: 1.2rem;
}

/* line 198, ../sass/screen.scss */
.btn--yellow {
  background-color: #EAB962;
  color: #3D3D3D;
}

/* line 202, ../sass/screen.scss */
.btn--purple {
  background-color: #951B81;
  color: #fff;
}

/* Card Styles
***************/
/* line 209, ../sass/screen.scss */
.card {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -moz-transition-property: background-color, color, border, outline, -moz-transform, box-shadow, opacity;
  -o-transition-property: background-color, color, border, outline, -o-transform, box-shadow, opacity;
  -webkit-transition-property: background-color, color, border, outline, -webkit-transform, box-shadow, opacity;
  transition-property: background-color, color, border, outline, transform, box-shadow, opacity;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-color: #fff;
}
/* line 219, ../sass/screen.scss */
.card .card--image {
  display: block;
  top: 0;
  right: 0;
  left: 0;
  position: relative;
  z-index: 1;
}
/* line 226, ../sass/screen.scss */
.card .card--image img {
  width: 100%;
  box-sizing: border-box;
  display: block;
}
/* line 232, ../sass/screen.scss */
.card .card--content {
  padding: 20px;
  box-sizing: border-box;
}

/* line 237, ../sass/screen.scss */
.card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

/* line 242, ../sass/screen.scss */
a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

/* line 251, ../sass/screen.scss */
a.skip-main:focus,
a.skip-main:active {
  color: #fff;
  background-color: #3D3D3D;
  left: 0;
  right: 0;
  top: 27px;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px auto;
  padding: 10px 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid #EAB962;
  text-align: center;
  font-size: 1.8rem;
  z-index: 999;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Header
***************/
/* line 277, ../sass/screen.scss */
.header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 40px;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
}
/* line 302, ../sass/screen.scss */
.header .header--logo,
.header .header--nav {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
/* line 314, ../sass/screen.scss */
.header .header--logo {
  width: 240px;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  z-index: 98;
}
/* line 320, ../sass/screen.scss */
.header .logo--white path {
  background-color: #fff;
  fill: #fff;
  stroke: #fff;
}
/* line 326, ../sass/screen.scss */
.header .header--nav {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 98;
}
/* line 351, ../sass/screen.scss */
.header .header--nav .header--nav-search-btn,
.header .header--nav .header--nav-mobile-btn {
  color: #fff;
  background-color: transparent;
  font-size: 1.4rem;
  cursor: pointer;
  margin: 0 0 0 10px;
  height: 37px;
  text-align: center;
  border: 2px solid #fff;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  transition: transform .2s ease-in-out;
  z-index: 99;
  width: 38px;
  -moz-transition-property: background-color, color, border, outline, -moz-transform, box-shadow, opacity;
  -o-transition-property: background-color, color, border, outline, -o-transform, box-shadow, opacity;
  -webkit-transition-property: background-color, color, border, outline, -webkit-transform, box-shadow, opacity;
  transition-property: background-color, color, border, outline, transform, box-shadow, opacity;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 367, ../sass/screen.scss */
.header .header--nav .header--nav-search-btn:hover,
.header .header--nav .header--nav-mobile-btn:hover,
.header .header--nav .header--nav-search-btn:focus,
.header .header--nav .header--nav-mobile-btn:focus {
  color: #3D3D3D;
  background-color: #EAB962;
}
/* line 374, ../sass/screen.scss */
.header .header--nav .header--nav-mobile-btn {
  display: none;
  width: 37px;
  margin: 0 auto;
}
/* line 378, ../sass/screen.scss */
.header .header--nav .header--nav-mobile-btn i {
  margin: 0 0 0 4px;
}
/* line 382, ../sass/screen.scss */
.header .header--nav .sfb-clicked {
  transform: scale(1.1);
}
/* line 385, ../sass/screen.scss */
.header .header--nav ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 408, ../sass/screen.scss */
.header .header--nav ul li {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  overflow: hidden;
}
/* line 422, ../sass/screen.scss */
.header .header--nav ul li a {
  padding: 10px 20px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  -moz-transition-property: background-color, color, border, outline, -moz-transform, box-shadow, opacity;
  -o-transition-property: background-color, color, border, outline, -o-transform, box-shadow, opacity;
  -webkit-transition-property: background-color, color, border, outline, -webkit-transform, box-shadow, opacity;
  transition-property: background-color, color, border, outline, transform, box-shadow, opacity;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 433, ../sass/screen.scss */
.header .header--nav ul li a:hover,
.header .header--nav ul li a:focus {
  background-color: #EAB962;
  color: #3D3D3D;
}
/* line 439, ../sass/screen.scss */
.header .header--nav ul li:first-of-type {
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-left: 2px solid #fff;
}
/* line 444, ../sass/screen.scss */
.header .header--nav ul li:last-of-type {
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* line 450, ../sass/screen.scss */
.header .header--search-form {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  top: 0;
  bottom: 0;
  left: -100%;
  min-height: auto;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  transition: left .2s ease-in-out, opacity .2s ease-in-out;
  opacity: 0;
}
/* line 480, ../sass/screen.scss */
.header .header--search-form form {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  max-width: 400px;
  width: 90%;
  text-align: center;
}
/* line 494, ../sass/screen.scss */
.header .header--search-form form .close-search {
  display: block;
  position: relative;
  z-index: 1;
  color: #fff;
  background-color: transparent;
  margin: 20px auto 0 auto;
  font-family: "Quicksand", sans-serif;
  outline: none;
  border: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
  -moz-transition-property: background-color, color, border, outline, -moz-transform, box-shadow, opacity;
  -o-transition-property: background-color, color, border, outline, -o-transform, box-shadow, opacity;
  -webkit-transition-property: background-color, color, border, outline, -webkit-transform, box-shadow, opacity;
  transition-property: background-color, color, border, outline, transform, box-shadow, opacity;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
/* line 510, ../sass/screen.scss */
.header .header--search-form form .close-search:hover {
  color: #EAB962;
}
/* line 514, ../sass/screen.scss */
.header .header--search-form form input {
  display: inline-block;
  width: 80%;
  border: 2px solid #fff;
  font-size: 2rem;
  padding: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  box-sizing: border-box;
  color: #fff;
  background-color: transparent;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  -moz-transition-property: background-color, color, border, outline, -moz-transform, box-shadow, opacity;
  -o-transition-property: background-color, color, border, outline, -o-transform, box-shadow, opacity;
  -webkit-transition-property: background-color, color, border, outline, -webkit-transform, box-shadow, opacity;
  transition-property: background-color, color, border, outline, transform, box-shadow, opacity;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 528, ../sass/screen.scss */
.header .header--search-form form input:focus {
  border: 2px solid #EAB962;
}
/* line 531, ../sass/screen.scss */
.header .header--search-form form .search-form-submit {
  display: inline-block;
  padding: 10px 12px;
  border: 2px solid #fff;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  font-size: 2rem;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  -moz-transition-property: background-color, color, border, outline, -moz-transform, box-shadow, opacity;
  -o-transition-property: background-color, color, border, outline, -o-transform, box-shadow, opacity;
  -webkit-transition-property: background-color, color, border, outline, -webkit-transform, box-shadow, opacity;
  transition-property: background-color, color, border, outline, transform, box-shadow, opacity;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 542, ../sass/screen.scss */
.header .header--search-form form .search-form-submit:hover {
  background-color: #EAB962;
  color: #3D3D3D;
}
/* line 548, ../sass/screen.scss */
.header .sf-visible {
  transition: left .2s ease-in-out, opacity .2s ease-in-out;
  opacity: 1;
  min-height: 100vh;
  left: 0;
  z-index: 97;
}

@media screen and (max-width: 960px) {
  /* line 558, ../sass/screen.scss */
  .logged-in-mobile-header-fix {
    top: 32px;
  }

  /* line 561, ../sass/screen.scss */
  .header {
    position: fixed;
    background-color: #EAB962;
  }
  /* line 564, ../sass/screen.scss */
  .header .header--logo {
    width: 200px;
    z-index: 99;
  }
  /* line 568, ../sass/screen.scss */
  .header .header--nav {
    z-index: 98;
  }
  /* line 570, ../sass/screen.scss */
  .header .header--nav ul {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 50px 0;
    box-sizing: border-box;
    opacity: 0;
    transition: right .2s ease-in-out,opacity .2s ease-in-out;
  }
  /* line 599, ../sass/screen.scss */
  .header .header--nav ul li {
    border: none;
    text-align: center;
    margin: 10px 0;
  }
  /* line 603, ../sass/screen.scss */
  .header .header--nav ul li a {
    font-size: 2.4rem;
  }
  /* line 606, ../sass/screen.scss */
  .header .header--nav ul li a:hover {
    background-color: transparent;
    color: #EAB962;
  }
  /* line 611, ../sass/screen.scss */
  .header .header--nav ul li:last-of-type,
  .header .header--nav ul li:first-of-type {
    border: none;
  }
  /* line 616, ../sass/screen.scss */
  .header .header--nav ul .current-menu-item a {
    background-color: transparent;
    color: #EAB962;
  }
  /* line 623, ../sass/screen.scss */
  .header .header--nav .show-mobile-nav {
    opacity: 1;
    right: 0;
  }
  /* line 627, ../sass/screen.scss */
  .header .header--nav .header--nav-mobile-btn {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    z-index: 100;
    transition: transform .2s ease-in-out;
  }
  /* line 634, ../sass/screen.scss */
  .header .header--nav .mnb-clicked {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 480px) {
  /* line 642, ../sass/screen.scss */
  .header .header--logo {
    width: 160px;
    z-index: 99;
  }
}
/* Home Page Hero Section
***************/
/* line 651, ../sass/screen.scss */
.hero--home-page {
  width: 100%;
  height: 100vh;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: #14998B;
  box-sizing: border-box;
}
/* line 677, ../sass/screen.scss */
.hero--home-page .esc-btn {
  opacity: .5;
  display: none;
  bottom: 20px;
  right: 20px;
  border: 2px solid #fff;
  font-family: "Quicksand", sans-serif;
  text-transform: lowercase;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  position: absolute;
  z-index: 2;
  padding: 12px 0;
  width: 40px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  -moz-transition-property: background-color, color, border, outline, -moz-transform, box-shadow, opacity;
  -o-transition-property: background-color, color, border, outline, -o-transform, box-shadow, opacity;
  -webkit-transition-property: background-color, color, border, outline, -webkit-transform, box-shadow, opacity;
  transition-property: background-color, color, border, outline, transform, box-shadow, opacity;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 697, ../sass/screen.scss */
.hero--home-page .esc-btn:hover {
  transform: scale(1.1);
  opacity: 1;
}
/* line 703, ../sass/screen.scss */
.hero--home-page .esc-visible {
  display: block;
}
/* line 707, ../sass/screen.scss */
.hero--home-page .hero--nav-blocks {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 400px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 50px 0 0 5%;
  position: relative;
  z-index: 2;
  transition: width .2s ease-in-out;
}
/* line 725, ../sass/screen.scss */
.hero--home-page .hero--nav-blocks button {
  width: 100%;
  padding: 20px 10%;
  box-sizing: border-box;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: #3D3D3D;
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  border: none;
  margin: 10px 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transition-property: background-color, color, border, outline, -moz-transform, box-shadow, opacity;
  -o-transition-property: background-color, color, border, outline, -o-transform, box-shadow, opacity;
  -webkit-transition-property: background-color, color, border, outline, -webkit-transform, box-shadow, opacity;
  transition-property: background-color, color, border, outline, transform, box-shadow, opacity;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  border: 2px solid transparent;
}
/* line 744, ../sass/screen.scss */
.hero--home-page .hero--nav-blocks button:focus {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.75);
  border: 2px solid #EAB962;
}
/* line 749, ../sass/screen.scss */
.hero--home-page .hero--nav-blocks .btn-clicked {
  transform: scale(1.1);
  background-color: #fff;
  margin: 10px 0;
  border: 2px solid #fff;
}
/* line 755, ../sass/screen.scss */
.hero--home-page .hero--nav-blocks .btn-clicked:focus {
  border: 2px solid #fff;
}
/* line 759, ../sass/screen.scss */
.hero--home-page .hero--text-container {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 50px 5% 0 5%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  position: relative;
  z-index: 2;
  transition: width .2s ease-in-out;
}
/* line 774, ../sass/screen.scss */
.hero--home-page .hero--text-container span {
  transition: opacity 1s ease-out;
  display: none;
  opacity: 0;
  width: 100%;
}
/* line 779, ../sass/screen.scss */
.hero--home-page .hero--text-container span h1, .hero--home-page .hero--text-container span p {
  color: #fff;
  margin-top: 0;
}
/* line 783, ../sass/screen.scss */
.hero--home-page .hero--text-container span a {
  color: #fff;
  background-color: #fff;
}
/* line 786, ../sass/screen.scss */
.hero--home-page .hero--text-container span a:hover {
  background-color: #fff;
  transform: scale(1.1);
  color: #3D3D3D;
}
/* line 793, ../sass/screen.scss */
.hero--home-page .hero--text-container .show-block {
  display: block;
  animation: show-block-animation 1s;
  animation-fill-mode: both;
}
/* line 799, ../sass/screen.scss */
.hero--home-page .service-block-background {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 0;
  background-color: #EAB962;
  background-size: cover;
  opacity: 0;
}
/* line 812, ../sass/screen.scss */
.hero--home-page .show-block-bg {
  animation: show-block-animation-two 1s;
  animation-fill-mode: both;
  z-index: 1;
}
/* line 817, ../sass/screen.scss */
.hero--home-page .bg-video {
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  object-fit: cover;
}
/* line 829, ../sass/screen.scss */
.hero--home-page .bg-video source {
  display: block;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  height: auto;
}

/* line 842, ../sass/screen.scss */
.hero--home-page::after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  display: block;
  top: 0;
  right: 0;
  left: 0;
  height: 300px;
  position: absolute;
  z-index: 1;
  content: "";
}

@keyframes show-block-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes show-block-animation-two {
  from {
    opacity: 0;
  }
  to {
    opacity: .85;
  }
}
/* line 871, ../sass/screen.scss */
#ghg {
  color: #93A75B;
}

/* line 874, ../sass/screen.scss */
#service-bg-ghg {
  /*background-image:url(../images/test.jpg);*/
  background-color: #93A75B;
  opacity: .6;
}

/* line 880, ../sass/screen.scss */
#service-text-ghg a {
  color: #93A75B;
}

/* line 885, ../sass/screen.scss */
#cap {
  color: #14998B;
}

/* line 888, ../sass/screen.scss */
#service-bg-cap {
  /*background-image:url(../images/test-2.jpg);*/
  background-color: #14998B;
  opacity: .6;
}

/* line 894, ../sass/screen.scss */
#service-text-cap a {
  color: #14998B;
}

/* line 899, ../sass/screen.scss */
#eern {
  color: #E96370;
}

/* line 902, ../sass/screen.scss */
#service-bg-eern {
  /*background-image:url(../images/test.jpg);*/
  background-color: #E96370;
  opacity: .6;
}

/* line 908, ../sass/screen.scss */
#service-text-eern a {
  color: #E96370;
}

/* line 913, ../sass/screen.scss */
#eam {
  color: #951B81;
}

/* line 916, ../sass/screen.scss */
#service-bg-eam {
  /*background-image:url(../images/test-2.jpg);*/
  background-color: #951B81;
  opacity: .6;
}

/* line 923, ../sass/screen.scss */
#service-text-eam a {
  color: #951B81;
}

@media screen and (max-width: 1280px) {
  /* line 932, ../sass/screen.scss */
  .hero--home-page .hero--nav-blocks {
    width: 300px;
  }
  /* line 934, ../sass/screen.scss */
  .hero--home-page .hero--nav-blocks button {
    font-size: 1.8rem;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 960px) {
  /* line 943, ../sass/screen.scss */
  .hero--home-page {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  /* line 954, ../sass/screen.scss */
  .hero--home-page .hero--nav-blocks {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 0 5% 100px 5%;
    width: 90%;
    padding: 0;
  }
  /* line 979, ../sass/screen.scss */
  .hero--home-page .hero--nav-blocks button {
    font-size: 1.8rem;
    padding: 20px 0;
    width: 23%;
    margin: 0 1%;
  }
  /* line 985, ../sass/screen.scss */
  .hero--home-page .hero--nav-blocks .btn-clicked {
    margin: 0 1%;
  }
  /* line 989, ../sass/screen.scss */
  .hero--home-page .hero--text-container {
    width: 100%;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
/* Hero Images
***************/
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 1008, ../sass/screen.scss */
.hero--image {
  display: block;
  width: 100%;
  min-height: 450px;
  background-color: #14998B;
  position: relative;
  z-index: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .5s;
  background-image: url(../images/test.jpg);
  background-position: center center;
  background-size: cover;
}
/* line 1023, ../sass/screen.scss */
.hero--image .container {
  position: absolute;
  z-index: 2;
  bottom: 100px;
  right: 0;
  left: 0;
}
/* line 1030, ../sass/screen.scss */
.hero--image .container h1 {
  color: #fff;
  text-shadow: 2px 2px 8px #3D3D3D;
  text-shadow: 2px 2px 8px 2px #3D3D3D;
}

/* line 1036, ../sass/screen.scss */
.hero--image:after {
  content: "";
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
}

/* Breadcrumbs
***************/
/* line 1051, ../sass/screen.scss */
.breadcrumbs {
  width: 100%;
  background-color: #EAB962;
  font-size: 1.4rem;
  color: #3D3D3D;
  font-weight: bold;
  padding: 20px 0;
}
/* line 1059, ../sass/screen.scss */
.breadcrumbs a {
  color: #3D3D3D;
  text-decoration: none;
}

/* Content
***************/
/* line 1068, ../sass/screen.scss */
.content {
  padding: 60px 0;
  display: block;
  margin: 0 auto;
}
/* line 1072, ../sass/screen.scss */
.content p {
  margin: 0 0 20px 0;
}

/* Section Headers
***************/
/* line 1080, ../sass/screen.scss */
.section--header {
  display: block;
  position: absolute;
  width: 32%;
  left: 0;
  top: -21px;
  z-index: 2;
  background-color: #EAB962;
  padding: 10px 20px 10px 0;
  text-align: right;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 768px) {
  /* line 1098, ../sass/screen.scss */
  .section--header {
    width: 86%;
    padding-left: 5%;
    text-align: left;
  }
}
/* Latest News
***************/
/* line 1107, ../sass/screen.scss */
.latest-news {
  padding: 60px 0;
  background-color: #F9F9F9;
  position: relative;
  z-index: 1;
}
/* line 1112, ../sass/screen.scss */
.latest-news .latest-news--header {
  display: block;
  color: #3D3D3D;
}
/* line 1115, ../sass/screen.scss */
.latest-news .latest-news--header h1 {
  margin-top: 0;
  font-size: 2.4rem;
}
/* line 1120, ../sass/screen.scss */
.latest-news .latest-news--time {
  display: block;
  position: relative;
  z-index: 2;
  top: -17px;
  padding: 10px 0 10px 20px;
  background-color: #C4C4C4;
  width: 90%;
  box-sizing: border-box;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
/* line 1132, ../sass/screen.scss */
.latest-news .latest-news--time p {
  color: #3D3D3D;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1;
}
/* line 1140, ../sass/screen.scss */
.latest-news .latest-news--time a {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #EAB962;
  color: #3D3D3D;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -moz-transition-property: background-color, color, border, outline, -moz-transform, box-shadow, opacity;
  -o-transition-property: background-color, color, border, outline, -o-transform, box-shadow, opacity;
  -webkit-transition-property: background-color, color, border, outline, -webkit-transform, box-shadow, opacity;
  transition-property: background-color, color, border, outline, transform, box-shadow, opacity;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 1156, ../sass/screen.scss */
.latest-news .latest-news--time a:hover {
  transform: scale(1.1);
}
/* line 1160, ../sass/screen.scss */
.latest-news .latest-news--content {
  display: block;
  font-size: 1.6rem;
}
/* line 1164, ../sass/screen.scss */
.latest-news a.latest-news--readmore {
  font-weight: bold;
  color: #14998B;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  -moz-transition-property: background-color, color, border, outline, -moz-transform, box-shadow, opacity;
  -o-transition-property: background-color, color, border, outline, -o-transform, box-shadow, opacity;
  -webkit-transition-property: background-color, color, border, outline, -webkit-transform, box-shadow, opacity;
  transition-property: background-color, color, border, outline, transform, box-shadow, opacity;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  display: inline-block;
}
/* line 1173, ../sass/screen.scss */
.latest-news a.latest-news--readmore:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 480px) {
  /* line 1179, ../sass/screen.scss */
  .latest-news .latest-news--content {
    display: none;
  }
  /* line 1183, ../sass/screen.scss */
  .latest-news .latest-news--time p, .latest-news .latest-news--time a {
    font-size: 1rem;
  }
}
/* Featured Project
***************/
/* line 1192, ../sass/screen.scss */
.featured-project {
  padding: 60px 0;
  background-color: #F1F1F1;
  position: relative;
  z-index: 1;
}
/* line 1198, ../sass/screen.scss */
.featured-project .card {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 1219, ../sass/screen.scss */
.featured-project .featured-project--image,
.featured-project .featured-project--container {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
/* line 1231, ../sass/screen.scss */
.featured-project .featured-project--image {
  width: 50%;
}
/* line 1233, ../sass/screen.scss */
.featured-project .featured-project--image img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: block;
}
/* line 1240, ../sass/screen.scss */
.featured-project .featured-project--container {
  width: 50%;
  padding: 0 40px;
  box-sizing: border-box;
}
/* line 1244, ../sass/screen.scss */
.featured-project .featured-project--container .featured-project--header {
  text-decoration: none;
}
/* line 1246, ../sass/screen.scss */
.featured-project .featured-project--container .featured-project--header h1 {
  font-size: 3.2rem;
  font-family: "Rubik", sans-serif;
  color: #951B81;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  /* line 1257, ../sass/screen.scss */
  .featured-project .card {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  /* line 1261, ../sass/screen.scss */
  .featured-project .card .featured-project--image,
  .featured-project .card .featured-project--container {
    width: 100%;
  }
  /* line 1265, ../sass/screen.scss */
  .featured-project .card .featured-project--container {
    padding: 20px;
  }
}
/* Footer
***************/
/* line 1274, ../sass/screen.scss */
.footer {
  padding: 40px 0;
}
/* line 1276, ../sass/screen.scss */
.footer .footer--logo {
  width: 200px;
  display: block;
  margin: 0 auto;
}
/* line 1280, ../sass/screen.scss */
.footer .footer--logo img {
  width: 100%;
  box-sizing: border-box;
  display: block;
}
/* line 1286, ../sass/screen.scss */
.footer .footer--nav {
  display: block;
  margin: 40px auto;
}
/* line 1289, ../sass/screen.scss */
.footer .footer--nav ul {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 1294, ../sass/screen.scss */
.footer .footer--nav ul li {
  display: inline-block;
  margin: 0 10px;
}
/* line 1297, ../sass/screen.scss */
.footer .footer--nav ul li a {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  color: #3D3D3D;
  text-decoration: none;
  font-weight: bold;
}
/* line 1307, ../sass/screen.scss */
.footer .footer--content {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 667px;
  width: 100%;
  margin: 0 auto;
}
/* line 1329, ../sass/screen.scss */
.footer .footer--content .footer--content-block {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
/* line 1339, ../sass/screen.scss */
.footer .footer--content .footer--content-block p {
  font-size: 1.2rem;
  text-align: left;
}
/* line 1342, ../sass/screen.scss */
.footer .footer--content .footer--content-block p a {
  color: #3D3D3D;
}
/* line 1347, ../sass/screen.scss */
.footer .footer--content .footer--content-block::first-of-type {
  text-align: left;
}
/* line 1350, ../sass/screen.scss */
.footer .footer--content .footer--content-block::last-of-type {
  text-align: right;
}

@media screen and (max-width: 800px) {
  /* line 1360, ../sass/screen.scss */
  .footer .footer--nav ul li a {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 667px) {
  /* line 1372, ../sass/screen.scss */
  .footer .footer--nav ul li {
    display: block;
    margin: 0 auto 10px auto;
  }
  /* line 1383, ../sass/screen.scss */
  .footer .footer--content .footer--content-block p {
    font-size: 1rem;
  }
}
